/* Block Zone */
.zone-block-container {
    margin: 4px 0 0 0;
}

/* Add Block (Inbetween) */
body.sui-admin .zone-block-container .zone-add-open {
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 2px;
    margin: 0 0 4px 0;
    width: calc(100% - 10px);
    border: 1px solid #f4f4f5;
    background-color: #f4f4f5;
    border-radius: 5px;
    transition: 0.2s;
}

body.sui-admin .zone-block-container .zone-add-open::after {
    content: "+";
    color: #f4f4f5;
    font-size: 16px;
}

body.sui-admin .zone-block-container .zone-add-open:hover {
    font-size: 16px;
    padding: 2px;
    margin: 0 0 4px 0;
    border: 1px solid #CCC;
    background-color: transparent;
}

body.sui-admin .zone-block-container .zone-add-open:hover::after {
    position: relative;
    top: initial;
    color: #CCC;
}

/* Add Block (Button) */
body.sui-admin .zone-add {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

body.sui-admin .zone-add .zone-add-open {
    padding: 12px;
    margin: 0;
    border: 1px solid #e89008;
    background-color: transparent;
    border-radius: 3px;
    transition: 0.4s;
}

body.sui-admin .zone-add .zone-add-open::after {
    content: 'Add Block';
    font-size: 14px;
    color: #333;
}

body.sui-admin .zone-add .zone-add-open:hover {
    border: 1px solid #000;
    background-color: transparent;
    ;
    transition: 0.2s;
}

body.sui-admin .zone-add .zone-add-open:hover::after {
    color: #000;
}

/* Block Header */
body.sui-admin .zone-block-container .zone-block-header {
    right: -51px;
    width: 50px;
    border-left: 1px solid #f0efef;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

body.sui-admin .zone-block-container .zone-block-header .zone-block-state {
    /* Hides empty div with state information */
    display: none;
}

body.sui-admin .zone-block-container .zone-block-header>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    min-height: 20px;
    border-bottom: 1px solid #f0efef;
    transition: 0.2s;
}

body.sui-admin .zone-block-container .zone-block-header>div:hover {
    color: #27aae1;
    background-color: #f8f8f8;
}

body.sui-admin .zone-block-container .zone-block-header>div.zone-block-title {
    border-bottom: none;
}

body.sui-admin .zone-block-container .zone-block-header>div.zone-block-title:hover {
    color: #000;
    background: transparent;
}

/* Block Content */
body.sui-admin .zone-block-container .zone-block-content-wrapper {
    /* Adds a slight border-radius value to the Block content preview */
    border-radius: 5px;
}

body.sui-admin .zone-block-container .zone-block-content-wrapper .section-wrapper.root-section-wrapper>.content-wrapper {
    /* Adds padding around rendered Block content */
    padding: 15px;
}

/* == 
Block Browse
== */
/* Modal Container */
body.sui-admin .zone-add-dialog {
    overflow: hidden;
    padding: 0px;
    border: none;
    border-radius: 8px;
    box-shadow:
        0px 1.2px 2.2px rgba(0, 0, 0, 0.048),
        0px 2.8px 5.3px rgba(0, 0, 0, 0.069),
        0px 5.3px 10px rgba(0, 0, 0, 0.085),
        0px 9.4px 17.9px rgba(0, 0, 0, 0.101),
        0px 17.5px 33.4px rgba(0, 0, 0, 0.122),
        0px 42px 80px rgba(0, 0, 0, 0.17);
}

/* Modal Titlebar */
body.sui-admin .zone-add-dialog .ui-dialog-titlebar,
.zone-add-dialog.zone-dialog.ui-dialog .ui-dialog-titlebar {
    padding: 15px;
    margin: 0 0 15px 0;
    background: #f0efef !important;
    border-bottom: 1px solid transparent !important;
}

body.sui-admin .zone-add-dialog .ui-dialog-titlebar .ui-dialog-title {
    color: #777;
    margin: 0;
}

.zone-add-dialog.zone-dialog.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
    /* Adjusts close button background to be transparent */
    background: transparent !important;
}

/* Block Browse */
body.sui-admin .zone-add-dialog .zone-add-browse {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    padding: 0 15px 30px;
}

body.sui-admin .zone-add-dialog .zone-add-browse>.zone-add-block,
body.sui-admin .zone-add-dialog .zone-add-browse>.zone-add-shared {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    width: auto;
    height: auto;
    margin: 0;
    border: 1px solid #CCC;
    border-radius: 3px;
    transition: 0.2s;
}

body.sui-admin .zone-add-dialog .zone-add-browse>.zone-add-block:hover,
body.sui-admin .zone-add-dialog .zone-add-browse>.zone-add-shared:hover {
    outline: none;
    border-color: #27aae1;
}

body.sui-admin .zone-add-dialog .zone-add-browse>.zone-add-block:hover .zone-add-block-image,
body.sui-admin .zone-add-dialog .zone-add-browse>.zone-add-shared:hover .zone-add-block-image {
    /* Changes fill colour for the SVG thumbnails */
    filter: brightness(0) saturate(100%) invert(55%) sepia(80%) saturate(1369%) hue-rotate(164deg) brightness(95%) contrast(84%);
}

.zone-block-settings .chooser.chooser-template .template:hover h4.template-header {
    color: #27aae1;
}

.zone-block-settings .chooser-template-theme-default.chooser.chooser-template .template:hover svg * {
    stroke: #27aae1;
}

/* == 
Block Settings
== */
/* Modal Container */
body.sui-admin .zone-block-settings_dialog {
    overflow: hidden;
    padding: 0;
    background-color: #FFF !important;
    border-radius: 8px;
    box-shadow:
        0px 1.2px 2.2px rgba(0, 0, 0, 0.048),
        0px 2.8px 5.3px rgba(0, 0, 0, 0.069),
        0px 5.3px 10px rgba(0, 0, 0, 0.085),
        0px 9.4px 17.9px rgba(0, 0, 0, 0.101),
        0px 17.5px 33.4px rgba(0, 0, 0, 0.122),
        0px 42px 80px rgba(0, 0, 0, 0.17);
}

/* Contents */
body.sui-admin .zone-block-settings_dialog .ui-dialog-content {
    /* Adjusts settings content area to have a white background */
    background-color: #fff;
}

/* Headers */
body.sui-admin .zone-block-settings_dialog .sui-block-header,
body.sui-admin .zone-block-settings_dialog .feature_list_placement-label,
body.sui-admin .zone-block-settings_dialog .zone-block-settings-section-header {
    padding: 0 0 10px;
    margin: 0 0 10px;
    border-bottom: 1px solid #f0efef !important;
}

body.sui-admin .zone-block-settings_dialog .sui-block-header,
body.sui-admin .zone-block-settings_dialog .feature_list_placement-label,
body.sui-admin .zone-block-settings_dialog .zone-block-settings-section-header h3 {
    font-size: 16px;
}

body.sui-admin .zone-block-settings_dialog .zone-block-settings-section-header h3 {
    margin-bottom: 10px
}

body.sui-admin .zone-block-settings_dialog .sui-strut-details label {
    font-weight: bold;
    text-transform: capitalize;
}

/* Input field layout */
body.sui-admin .zone-block-settings_dialog .zone-block-settings-section-fields {
    /* Adds vertical spacing between input fields */
    display: flex;
    flex-direction: column;
    gap: 3px;
}

/* Button Panel */
body.sui-admin .zone-block-settings_dialog .ui-dialog-buttonpane {
    background-color: #f8f8f8;
}

body.sui-admin .zone-block-settings_dialog .ui-dialog-buttonpane .ui-button.zone-block-settings_dialog-button_confirm {
    width: 100px;
    border-radius: 3px;
    transition: 0.2s;
}

body.sui-admin .zone-block-settings_dialog .ui-dialog-buttonpane .ui-button.zone-block-settings_dialog-button_confirm:hover {
    color: #FFF;
    background-color: #5cb85c;
}

/* TItlebar */
body.sui-admin .zone-block-settings_dialog .ui-dialog-titlebar {
    padding: 15px;
    margin: 0;
    background-color: #f0efef;
    border-bottom: 1px solid transparent !important;
}

body.sui-admin .zone-block-settings_dialog .ui-dialog-titlebar .ui-dialog-title {
    color: #777;
}

/* Header (Tabs) */
body.sui-admin .zone-block-settings-tabs .ui-widget-header {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 8px 8px 0 8px;
    background-color: #f0efef;
}

body.sui-admin .zone-block-settings-tabs .ui-widget-header>li {
    background-color: transparent !important;
}

body.sui-admin .zone-block-settings-tabs .ui-widget-header>li>a {
    background-color: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.2s;
}

body.sui-admin .zone-block-settings-tabs .ui-widget-header>li>a:hover {
    background-color: #f8f8f8;
}

body.sui-admin .zone-block-settings-tabs ul.ui-tabs-nav.ui-widget-header li.ui-state-default.ui-state-active a {
    color: #27aae1;
    font-weight: bold;
    border-color: #27aae1;
    background: #FFF;
}

/* Chooser */
body.sui-admin .zone-block-settings_dialog .chooser {
    border-bottom: 1px solid #f0efef;
    margin-bottom: 15px;
}

body.sui-admin .zone-block-settings_dialog .chooser .chooser-template-tabs-tab-has_images {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 8px;
}

body.sui-admin .zone-block-settings_dialog .chooser .chooser-template-tabs-tab-has_images>.template,
body.sui-admin .zone-block-settings_dialog .chooser .chooser-template-tabs-tab-has_images>.template:last-child {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 80px;
    padding: 5px 5px 15px;
    margin: 0;
    border: 1px solid #CCC;
    border-radius: 3px;
    transition: 0.2s;
}

body.sui-admin .zone-block-settings_dialog .chooser .chooser-template-tabs-tab-has_images>.template:hover {
    outline: none;
    border-color: #27aae1;
}

.zone-add-block:hover,
.zone-add-shared:hover {
    /* Changes hover text colour */
    color: #27aae1;
}

body.sui-admin .zone-block-settings_dialog .chooser .chooser-template-tabs-tab-has_images>.template .template-header {
    font-weight: bold;
}

body.sui-admin .zone-block-settings_dialog .chooser .chooser-template-tabs-tab-has_images>.template * {
    cursor: pointer;
}

.zone-block-settings .chooser-template-theme-default.chooser.chooser-template .template.template-active {
    border-color: #27aae1;
    background-color: #27aae1;
}

.zone-block-settings div.chooser-template+div[class$="template-advanced"] {
    font-weight: bold;
    padding: 0 0 15px;
    margin: 0 0 15px;
    background: transparent;
    border: none
}

.zone-block-settings div.chooser-template+div[class$="template-advanced"]>div:last-of-type {
    padding: 5px;
    background: #f8f8f8;
    border-radius: 5px;
}

/* List Placement */
.zone-block-settings .feature_list_placement-table .sui-dynamic_table-add {
    color: #000 !important;
    text-align: center;
    width: 50px;
    border-radius: 3px;
    transition: 0.2s;
}

.zone-block-settings .feature_list_placement-table .sui-dynamic_table-add:hover {
    color: #e89008 !important;
    outline: none !important;
}

body.sui-admin .zone-block-settings_dialog .related_navigation_datas-image_container {
    border-radius: 3px;
}

body.sui-admin .zone-block-settings_dialog .sui-control>input,
body.sui-admin .zone-block-settings_dialog .sui-control>.sui-button.dynamic-remove {
    border-radius: 3px;
    transition: 0.2s;
}

body.sui-admin .zone-block-settings_dialog .sui-control>input:hover,
body.sui-admin .zone-block-settings_dialog .sui-control>.sui-button.dynamic-remove:hover {
    outline: none;
    color: #27aae1;
    border-color: #27aae1;
}

body.sui-admin .zone-block-settings_dialog .sui-control>.sui-button.dynamic-remove {
    border: 1px solid #CCC;
}

/* Title and Description */
body.sui-admin .zone-block-settings_dialog #core-additional-zones-zone-main-block-block-NEW_6378032b4cbca-title_tag-button {
    /* Adjusts heading selector */
    border-radius: 3px;
    transition: 0.2s;
}

body.sui-admin .zone-block-settings_dialog #core-additional-zones-zone-main-block-block-NEW_6378032b4cbca-title_tag-button:hover {
    border-color: #27aae1;
}

body.sui-admin .zone-block-settings_dialog .zone-block-settings-block-title_text_align .sui-strut-controls input:checked+label {
    color: #27aae1 !important;
}

/* Security & Visibility */
body.sui-admin .zone-block-settings_dialog .ui-selectmenu-button,
body.sui-admin .zone-block-settings_dialog .ui-state-info.ui-corner-all,
body.sui-admin .zone-block-settings_dialog .hasDatepicker {
    border-radius: 3px;
    transition: 0.2s;
}

body.sui-admin .zone-block-settings_dialog .ui-selectmenu-button:hover,
body.sui-admin .zone-block-settings_dialog .ui-state-info.ui-corner-all:hover,
body.sui-admin .zone-block-settings_dialog .hasDatepicker:hover {
    border-color: #27aae1;
}

body.sui-admin .zone-block-settings_dialog .hasDatepicker {
    margin-right: 4px;
}

body.sui-admin .zone-block-settings_dialog div.sui-field>.sui-strut-field>.sui-strut-controls>.sui-control>* {
    border-radius: 3px;
}

/* Background */
.decorator-background-image .label {
    font-weight: bold;
}

.sui-field .decorator-background-image-open,
.decorator-background-image-clear {
    border-radius: 3px;
}

/* Advanced */
body.sui-admin .zone-block-settings_dialog .CodeMirror-scroll {
    width: 100%;
    background-color: #f8f8f8;
}

body.sui-admin .zone-block-settings_dialog .EasyMDEContainer .CodeMirror-scroll {
    overflow: auto !important;
    background-color: transparent;
}

body.sui-admin .zone-block-settings_dialog .decorator-padding-label {
    align-items: center;
}

body.sui-admin .zone-block-settings_dialog .decorator-padding-label.sui-field>.sui-strut-details>label {
    padding-top: 0;
}

body.sui-admin .zone-block-settings_dialog .decorator-padding-label .sui-strut-controls {
    cursor: default;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin: 0;
    width: 100%;
    max-width: 400px;
}

body.sui-admin .zone-block-settings_dialog .decorator-padding-label .sui-strut-controls>div {
    justify-content: center;
    align-items: center;
    gap: 10px;
}

body.sui-admin .zone-block-settings_dialog .decorator-padding-label .sui-strut-controls>div.decorator-padding-top,
body.sui-admin .zone-block-settings_dialog .decorator-padding-label .sui-strut-controls>div.decorator-padding-bottom {
    display: flex;
    grid-column: 1 / span 2;
}

body.sui-admin .zone-block-settings_dialog .decorator-padding-label .sui-strut-controls>div.decorator-padding-top {
    flex-direction: column;
    order: 1;
}

body.sui-admin .zone-block-settings_dialog .decorator-padding-label .sui-strut-controls>div.decorator-padding-right {
    display: flex;
    flex-direction: row-reverse;
    order: 3;
}

body.sui-admin .zone-block-settings_dialog .decorator-padding-label .sui-strut-controls>div.decorator-padding-bottom {
    flex-direction: column-reverse;
    order: 4;
}

body.sui-admin .zone-block-settings_dialog .decorator-padding-label .sui-strut-controls>div.decorator-padding-left {
    display: flex;
    flex-direction: row;
    order: 2;
}

body.sui-admin .zone-block-settings_dialog .decorator-padding-label .sui-strut-controls>div>.notrequired,
body.sui-admin .zone-block-settings_dialog .decorator-padding-label .sui-strut-controls>div>.sui-strut-messages {
    display: none;
}

body.sui-admin .zone-block-settings_dialog .decorator-padding-label .sui-strut-controls>div label {
    text-align: center;
    width: 50px;
    padding: 0;
}

body.sui-admin .zone-block-settings_dialog .decorator-padding-label .sui-strut-controls>div .sui-strut-controls {
    display: flex;
    justify-content: center;
}

body.sui-admin .zone-block-settings_dialog .decorator-padding-label .sui-strut-controls>div .sui-strut-controls input {
    width: 50px;
}

/* Form */
.zone-block-settings .form-selection .sui-control.sui-control-radio label:hover {
    outline: none;
    color: #27aae1;
    border-color: #27aae1;
}

/* Form Submissions */
.zone-block-settings .forms_submissions-container-fields .forms_submissions-form .sui-control.sui-control-radio label:hover {
    outline: none;
    color: #27aae1;
    border-color: #27aae1;
}

/* Gallery */
.zone-block-settings .gallery-images-uploader_inline .plupload_scroll .plupload_filelist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 5px;
    transition: 0.2s;
}

.zone-block-settings .gallery-images-uploader_inline .plupload_scroll .plupload_filelist:hover {
    border-color: #27aae1;
}

.zone-block-settings .gallery-images-uploader_inline .plupload_filelist .plupload_droptext-drag {
    color: #27aae1;
}

.zone-block-settings .gallery-images-uploader_inline .plupload_filelist .plupload_droptext-click {
    background-color: #27aae1;
    border-radius: 5px;
}

/* Expandables */
.zone-block-settings .sui-dynamic_table-add {
    text-align: center;
    width: 50px;
    border-radius: 3px;
    transition: 0.2s;
}

.zone-block-settings .sui-dynamic_table-add:hover {
    outline: none !important;
    color: #000 !important;
}

/* Global Block */
.zone-block-settings-block-shared_dialog {
    overflow: hidden;
    padding: 0;
    background-color: #FFF !important;
    border-radius: 8px;
    box-shadow: 0px 2.4px 3.2px rgba(0, 0, 0, 0.02),
        0px 5.8px 7.6px rgba(0, 0, 0, 0.028),
        0px 10.9px 14.4px rgba(0, 0, 0, 0.035),
        0px 19.4px 25.7px rgba(0, 0, 0, 0.042),
        0px 36.3px 48px rgba(0, 0, 0, 0.05),
        0px 87px 115px rgba(0, 0, 0, 0.07);
}

.zone-block-settings-block-shared_dialog.ui-dialog .ui-dialog-titlebar {
    padding: 15px 10px;
}

.zone-block-settings-block-shared_dialog .ui-dialog-titlebar,
.zone-block-settings-block-shared_dialog .ui-dialog-buttonpane {
    background-color: #f0efef !important
}

.zone-block-settings-block-shared_dialog.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close,
.zone-block-settings-block-shared_dialog.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:hover {
    background: transparent !important;
}

.zone-block-settings-block-shared_dialog .sui-control input {
    border-radius: 3px;
    transition: 0.2s;
}

.zone-block-settings-block-shared_dialog .sui-control input:hover {
    border-color: #27aae1;
}

.zone-block-settings-block-shared_dialog .ui-button.zone-block-settings_dialog-button_confirm {
    width: 100px;
    transition: 0.2s;
}

.zone-block-settings-block-shared_dialog .ui-button.zone-block-settings_dialog-button_confirm:hover {
    color: #FFF !important;
    background-color: #5cb85c !important;
}

.zone-add-block,
.zone-add-shared {
    border-radius: 3px;
}

.zone-add-block:hover,
.zone-add-shared:hover {
    outline: none;
    border-color: #27aae1;
}