/*============================================================================*\
    Dashboard Background
\*============================================================================*/

#console-content {
    overflow: hidden;
    position: relative;
    isolation: isolate;
    background: none !important;
}

#console-content::before,
#console-content::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

#console-content::before {
    z-index: -2;
    background: rgb(239, 244, 255);
    background: linear-gradient(144deg, rgba(239, 244, 255, 1) 0%, rgba(253, 255, 255, 1) 100%);
}

/* #console-content::after {
    z-index: -1;
    background-size: contain;
    background-image: url('https://benfrench.shoutcms.net/uploads/files/sui-temp/shoutcms-dashboard_background-pattern-1.png');
    background-position: top;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    filter: opacity(0.5);
} */

/* #console-content::after {
    z-index: -1;
    background-size: auto;
    background-image: url('https://benfrench.shoutcms.net/uploads/files/sui-temp/shoutcms-dashboard_background-pattern-2.png');
    background-position: top right;
    background-repeat: no-repeat;
    filter: opacity(0.2);
} */

#console-content::after {
    z-index: -1;
    background-size: auto;
    background-image: url('https://benfrench.shoutcms.net/uploads/files/sui-temp/shoutcms-dashboard_background-pattern-3.png');
    background-position: top right;
    background-repeat: no-repeat;
    filter: opacity(0.3);
}

/*============================================================================*\
    Page Layout
\*============================================================================*/

.dashboard-container {
    /*background: lightyellow;*/
    display: flex;
    margin: 0 auto 30px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1250px;
    width: 100%;
    gap: 20px;
}

@media (max-width: 1400px) {
    .dashboard-container {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .dashboard-container {
        flex-direction: column;
    }
}

.dashboard-column-left {
    /*background: lightblue;*/
    flex-basis: 74%;
}

.dashboard-column-right {
    /*background: lightpink;*/
    flex-basis: 24%;
}

/*============================================================================*\
    Widgets
\*============================================================================*/

/* ==
Widget Backgrounds
== */

/* Widget Elements */

.dashboard-widget {
    margin-bottom: 20px;
    padding: 30px;
}

/* Widget White Background */

.dashboard-widget:not([class*="transparent"]) {
    overflow: hidden;
    position: relative;
    isolation: isolate;
    background: #FFFFFF;
    box-shadow: 4px 10px 36px -27px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 4px 10px 36px -27px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 10px 36px -27px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.dashboard-widget:not([class*="transparent"])::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

@media (pointer: fine) {

    .dashboard-widget:not([class*="transparent"]):hover {
        -webkit-box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.08);
    }

    .dashboard-widget:not([class*="transparent"]):hover::before {
        backdrop-filter: blur(0px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: white;
    }

}

/* Widget White Transparent */

.dashboard-widget-transparent {
    background-color: transparent;
    padding: 0;
}

/* ==
Widget Typography
== */

.dashboard-widget-title {
    font-size: 22px;
    margin-bottom: 5px;
}

.dashboard-widget-title-small {
    font-size: 16px;
    margin-bottom: 5px;
}

.dashboard-widget .sui-fieldset {
    background: transparent;
    border: none;
}

/* ==
Widget Form Block Content
== */

.dashboard-widget .sui-formblock>.sui-formblock-content {
    padding: 0;
    margin: 0;
}

.dashboard-widget .sui-fieldset>.sui-fieldset-content {
    padding: 0;
}

.dashboard-widget .sui-formblock-header {
    padding: 0;
}

.dashboard-widget .sui-formblock-header .sui-formblock-title {
    font-size: 22px;
    font-weight: normal;
}

.dashboard-widget .sui-formblock-header.sui-formblock-header-no_icon .sui-formblock-title {
    font-size: 1rem;
    font-weight: bold;
}

/* ==
Widget Pin
== */

:is(.dashboard-widget-unpin, .dashboard-widget-pin) {
    cursor: pointer;
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    width: fit-content;
    padding: 0.75rem 1rem 0.75rem 1.5rem;
    margin: 0 0 15px auto;
    background-color: #f1f1f1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

:is(.dashboard-widget-unpin, .dashboard-widget-pin):is(:focus, :hover) {
    background-color: #e2e2e2;
}

:is(.dashboard-widget-unpin, .dashboard-widget-pin)::after {
    content: '\f08d';
    font-family: 'Font Awesome 5 Pro';
    margin: 0 0 0 10px;
}

.dashboard-widget-pin {
    text-align: center;
    width: auto;
}

/*============================================================================*\
    Welcome
\*============================================================================*/

.dashboard-welcome h3 {
    color: black;
    font-size: 2rem;
}

/*============================================================================*\
    Search
\*============================================================================*/

.dashboard-search #admin-search .sui-field-input {
    float: right;
    width: 100%;
}

.dashboard-search #admin-search .sui-field-content {
    width: 100%;
}

.dashboard-search #admin-search-input input {
    font-size: 1rem;
    margin-right: 0;
    border-width: 0;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 4px 10px 36px -27px rgb(0 0 0 / 8%);
    -webkit-box-shadow: 4px 10px 36px -27px rgb(0 0 0 / 8%);
    -moz-box-shadow: 4px 10px 36px -27px rgba(0, 0, 0, 0.08);
    border: 1px solid #DADCE0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


.sui-admin .dashboard-search .sui-field .sui-button-help {
    display: none;
}

/*============================================================================*\
    Support
\*============================================================================*/

/* ==
Support Widget Container
== */

.dashboard-widget.dashboard-support {
    overflow: visible;
    cursor: pointer;
    display: flex;
    position: relative;
    isolation: isolate;
    color: black;
    padding: 20px 30px 20px 10px;
    background: rgb(217, 242, 255);
    background: linear-gradient(166deg, rgba(217, 242, 255, 1) 0%, rgba(255, 255, 255, 1) 36%, rgba(255, 255, 255, 1) 100%);
}

/* ==
Support Widget Layout
== */

.dashboard-widget.dashboard-support .support-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.dashboard-widget.dashboard-support .support-image img {
    height: 75px;
}

.dashboard-support .support-description {}

.dashboard-support .support-description h3 {
    color: #0098d7;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 auto 5px;
}

.dashboard-support .support-description div {
    font-size: 0.7rem;
}

/* ==
Support Widget Icon
== */

.dashboard-widget.dashboard-support::after {
    content: '\f128';
    pointer-events: none;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    inset: -10px -10px auto auto;
    color: #FFFFFF;
    font-family: 'Font Awesome 5 Pro';
    font-size: 1rem;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0098d7;
    transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -webkit-box-shadow: 0px 5px 15px 2px rgba(0, 152, 215, 0.1);
    box-shadow: 0px 5px 15px 2px rgba(0, 152, 215, 0.1);
}

/*============================================================================*\
    Site Status
\*============================================================================*/

.dashboard-site_status .site_status-item {
    color: #0098d7;
    font-size: 1rem;
    width: fit-content;
    padding: 20px;
    background-color: rgba(0, 152, 215, 0.05);
    border: 1px solid rgba(0, 152, 215, 0.2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.dashboard-site_status .site_status-item a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
}

.dashboard-site_status .site_status-icon {
    color: inherit;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 5px;
}

.dashboard-site_status i::before {
    content: '\f30f';
}

/*============================================================================*\
    Site Content
\*============================================================================*/

.dashboard-site_content .site_content-container {
    display: flex;
    gap: 20px;
}

/* ==
Content Backgrounds
== */

.sui-dashboardblock {
    overflow: hidden;
    position: relative;
    isolation: isolate;
    padding: 30px 0 0;
    box-shadow: 4px 10px 36px -27px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 4px 10px 36px -27px rgb(0 0 0 / 20%);
    -moz-box-shadow: 4px 10px 36px -27px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #FFFFFF;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.sui-dashboardblock::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

@media (pointer: fine) {

    .sui-dashboardblock:hover {
        -webkit-box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.08);
    }

    .sui-dashboardblock:hover::before {
        backdrop-filter: blur(0px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: white;
    }

}

.sui-dashboardblock>* {
    /* !important from UIDashboardBlock.css */
    background: transparent !important;
}

/* ==
Content Elements
== */

.dashboard-site_content .sui-dashboardblock.sui-formblock.has_header {
    min-width: unset;
    margin: 0;
    float: none;
    flex-grow: 1;
}

/* Content Header */

.dashboard-site_content .sui-dashboardblock.has_content .sui-formblock-header {
    padding: 0 30px;
}

.dashboard-site_content .sui-dashboardblock .sui-formblock-header h3 {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    width: fit-content;
}

.dashboard-site_content .sui-dashboardblock .sui-block-header h3 a {
    color: black;
    width: fit-content;
}

.dashboard-site_content .sui-dashboardblock .sui-formblock-header i {
    display: none;
}

.dashboard-site_content .sui-dashboardblock .sui-fieldset {
    padding: 0;
    height: 100%;
    border: none;
}

/* Content Description */

.dashboard-site_content .sui-dashboardblock .sui-fieldset .sui-description {
    color: #0098d7;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0 30px 15px;
    margin: 0 auto;
    border-bottom: 1px solid #e2e2e2;
}

/* Content List Values */

.sui-block-content-text.sui-fieldset-content {
    display: flex;
    flex-direction: column;
    gap: 1.5px;
}

:is(#dashboard-pages, #dashboard-store, #dashboard-contacts) .sui-block-content-text.sui-fieldset-content>div {
    display: none;
}

.sui-block-content-text.sui-fieldset-content>span.sui-element {
    display: block;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-bottom: 1px solid #e2e2e2;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.sui-block-content-text.sui-fieldset-content>span.sui-element:last-of-type {
    border-bottom: none;
}

.sui-block-content-text.sui-fieldset-content>span.sui-element:hover {
    background-color: rgba(0, 152, 215, 0.05);
}

.sui-block-content-text.sui-fieldset-content>span.sui-element:hover a {
    color: #0098d7;
    text-decoration: underline;
}

.sui-block-content-text.sui-fieldset-content>span.sui-element>span {
    display: block;
    width: 100%;
}

.sui-block-content-text.sui-fieldset-content>span.sui-element .sui-dashboardbutton-header-cell>a {
    padding: 10px 0 10px 30px;
}

.sui-block-content-text.sui-fieldset-content>span.sui-element .sui-dashboardbutton-header-cell>span>a {
    padding: 10px 30px 10px 0;
}

#dashboard-store .sui-block-content-text.sui-fieldset-content>span.sui-element .sui-dashboardbutton-header-cell>span {
    padding: 10px 30px 10px 0;
}

.dashboard-site_content .sui-dashboardbutton-header-cell .sui-dashboardbutton-title-link {
    color: black;
    font-size: 0.8rem;
}

.dashboard-site_content .sui-dashboardbutton:hover a.sui-dashboardbutton-summary-link {
    border-color: transparent;
}

.dashboard-site_content .sui-dashboardbutton a.sui-dashboardbutton-summary-link {
    color: black;
    font-size: 14px;
}

.dashboard-site_content .sui-dashboardblock .sui-dashboard-footer:empty {
    padding: 0;
}

/* Content Icon */

:is(#dashboard-pages, #dashboard-store, #dashboard-contacts) {
    position: relative;
    isolation: isolate;
}

:is(#dashboard-pages, #dashboard-store, #dashboard-contacts)::after {
    content: '';
    pointer-events: none;
    cursor: default;
    position: absolute;
    z-index: 1;
    inset: 0 0 auto auto;
    width: 100px;
    height: 100px;
    background-size: cover;
}

#dashboard-pages::after {
    background-image: url('https://benfrench.shoutcms.net/uploads/files/sui-temp/website-content-type.png');
}

#dashboard-store::after {
    background-image: url('https://benfrench.shoutcms.net/uploads/files/sui-temp/store-content-type.png');
}

#dashboard-contacts::after {
    background-image: url('https://benfrench.shoutcms.net/uploads/files/sui-temp/contacts-content-type.png');
}

/*============================================================================*\
    Videos
\*============================================================================*/

.dashboard-videos .videos-frame {
    position: relative;
    padding-bottom: 56.25%;
}

.dashboard-videos .videos-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dashboard-column-right .dashboard-videos .videos-main,
.dashboard-column-left .dashboard-videos .videos-side {
    display: none;
}

.dashboard-videos .videos-side .videos-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.dashboard-videos .videos-side .videos-image {
    overflow: hidden;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.dashboard-videos .videos-side .videos-image a {
    position: relative;
    isolation: isolate;
    display: block;
    height: 100%;
}

.dashboard-videos .videos-side .videos-image a::before {
    content: 'Watch Video';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    inset: 0;
    color: white;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0;
    filter: opacity(0);
    -webkit-filter: opacity(0);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.dashboard-videos .videos-side .videos-image a:hover::before {
    background-color: rgb(17, 108, 183, 0.7);
    opacity: 1;
    filter: opacity(1);
    -webkit-filter: opacity(1);
}

.dashboard-videos .videos-side .videos-image img {
    display: block;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.dashboard-videos .videos-side .videos-description {
    width: calc(100% - 20px);
    font-size: 0.8rem;
    line-height: 1.6em;
    margin: 0 auto;
}

.dashboard-videos .videos-side .videos-description h3 {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    padding: 0 0 8px;
    margin: 0 0 8px;
    border-bottom: 1px solid #e2e2e2;
}

.dashboard-videos .videos-side .videos-description a {
    color: black;
    text-decoration: none;
}

/* ==
Dashboard Videos Main Column
== */

/* Hide Video Title */

.dashboard-videos .dashboard-widget-title-small {
    display: none;
}

/* Video Thumbnail */

.dashboard-videos .videos-frame {
    overflow: hidden;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* Video Description */

.dashboard-videos .videos-description {
    font-size: 1rem;
    padding: 15px 0;
    margin: 15px auto 30px;
}

/* Other Videos */

.dashboard-videos .videos-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.dashboard-videos .videos-link {
    cursor: pointer;
    aspect-ratio: 16 / 9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex: 1 1 150px;
    color: white;
    text-align: center;
    max-width: 165px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #093479;
}

.dashboard-videos .videos-link-title {
    /*text-align: left;*/
    margin: 10px 0;
}

/* More Videos */

.dashboard-videos .videos-more {
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
}

.dashboard-videos .videos-more a {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 1.5rem 1rem 2rem;
    background-color: #f1f1f1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.dashboard-videos .videos-more a::after {
    content: '\f178';
    font-family: 'Font Awesome 5 Pro';
    margin: 0 0 0 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.dashboard-videos .videos-more a:is(:focus, :hover) {
    background-color: #e2e2e2;
}

/*============================================================================*\
    Recently Modified
\*============================================================================*/

.dashboard-recently_modified {
    padding: 20px 0 0;
}

.dashboard-recently_modified .sui-formblock {
    /* !important for UIFormBlock.css */
    margin: 0 !important;
}

.dashboard-recently_modified .sui-formblock-header {
    /* !important for UIFormBlock.css */
    background-color: transparent !important;
}

.dashboard-recently_modified .sui-formblock-title {
    padding: 0 30px;
    margin: 0 0 20px !important;
}

.dashboard-recently_modified .sui-formblock-header-collapse-wrapper {
    /* !important for UIFormBlock.css */
    position: relative;
    margin: 0 !important;
    inset: -10px 30px auto auto;
}

.dashboard-recently_modified .recently_modified-item {
    display: flex;
    gap: 10px;
    padding: 10px 30px;
    background-color: transparent;
    border: none;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

.dashboard-recently_modified .recently_modified-item:not(:last-of-type) {
    margin: 0 auto 5px
}

.dashboard-recently_modified .recently_modified-item:hover {
    background-color: rgba(0, 152, 215, 0.05);
    border: none;
}

.dashboard-recently_modified .recently_modified-item a {
    color: black;
    text-decoration: none;
}

.dashboard-recently_modified .recently_modified-item :not(a) {
    cursor: default;
}

.dashboard-recently_modified .recently_modified-item:hover a {
    color: #0098d7;
    text-decoration: underline;
}

.dashboard-recently_modified .recently_modified-summary {
    flex-grow: 1;
}

.dashboard-recently_modified .recently_modified-title {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0 auto 5px;
}

.dashboard-recently_modified .recently_modified-modified {
    font-size: 10px;
    color: #999;
}

.dashboard-recently_modified .recently_modified-view,
.dashboard-recently_modified .recently_modified-edit {
    margin-top: 2px;
}

/*============================================================================*\
    Preset UI Elements
\*============================================================================*/

/* presets buttons, paging, page size */
.dashboard-widget-searchgrid .transaction-saved_search,
.dashboard-widget-searchgrid .datagrid-summary_bar,
.dashboard-widget-searchgrid .datagrid-summary_bar+div {
    display: none;
}

.dashboard-widget-searchgrid .search_grid-table tr.search_grid-segregated_header_row,
.dashboard-widget-searchgrid .search_grid-table tr.search_grid-segregated_footer_row {
    display: none;
}

/* sort arrow */
.dashboard-widget-searchgrid .search_grid-table tr th>a>span {
    display: none;
}

/*============================================================================*\
    Search Grid
\*============================================================================*/

/* ==
Search Grid Header
== */

.dashboard-widget-searchgrid .dashboard-widget-title {
    font-size: 1rem;
    font-weight: bold;
}

/* ==
Search Grid Header Row
== */

.dashboard-widget-searchgrid tr.gridHeaderRow {
    border-top: none;
}

/* ==
Search Grid Rows
== */

/* Search Grid First Cell Padding */

.dashboard-widget-searchgrid .search_grid-table tr>:is(th, td):nth-child(1) {
    padding-left: 10px;
}

/* Remove Last Row Border */

.dashboard-widget-searchgrid tbody>tr:nth-last-child(2) {
    border-bottom: none;
}

/* Search Grid Row Hover Interaction */

@media (pointer: fine) {

    .dashboard-widget-searchgrid .search_grid-table tbody>:is(.gridRow:hover, .gridAltRow:hover) {
        border-color: #e2e2e2;
    }

    .dashboard-widget-searchgrid .search_grid-table tbody>:is(.gridRow, .gridAltRow) * {
        /* !import for inline colour adjustments */
        color: black !important;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
    }

    .dashboard-widget-searchgrid .search_grid-table tbody>:is(.gridRow:hover, .gridAltRow:hover) td {
        background-color: #F1F1F1;
    }

    .dashboard-widget-searchgrid .search_grid-table tbody>:is(.gridRow:hover, .gridAltRow:hover) a {
        text-decoration: underline;
    }

}

/* ==
Search Grid View All
== */

/* View All Button */

.dashboard-widget-searchgrid .searchgrid-view_more {
    display: flex;
    justify-content: flex-end;
    margin: 10px auto 5px;
}

.dashboard-widget-searchgrid .searchgrid-view_more a {
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 1.5rem 1rem 2rem;
    background-color: #f1f1f1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.dashboard-widget-searchgrid .searchgrid-view_more a::after {
    content: '\f178';
    font-family: 'Font Awesome 5 Pro';
    margin: 0 0 0 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

@media (pointer: fine) {

    .dashboard-widget-searchgrid .searchgrid-view_more a:is(:hover, :focus) {
        background-color: #e2e2e2;
    }

}

.dashboard-widget-searchgrid .searchgrid-placeholder {
    height: 20px;
    text-align: center;
}

.dashboard-orders .search_grid-table .hidden-on-not-hover {
    display: none;
}

/*============================================================================*\
    Transaction Chart
\*============================================================================*/

/* ==
Transaction Header
== */

/* Transaction Switch */

.dashboard-transaction_chart .transaction_chart-switch-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin: 0 auto 15px 0;
}

.dashboard-transaction_chart .transaction_chart-switch {
    margin: 0;
}

.dashboard-transaction_chart .transaction_chart-yoy {
    vertical-align: text-bottom;
    margin-right: 5px;
}

/* Transaction Legend */

.dashboard-transaction_chart .transaction_chart-legend-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 0 0 20px;
    margin: 0 auto 20px;
    border-bottom: 1px solid #EFEFEF;
}

.dashboard-transaction_chart .transaction_chart-legend-item {
    padding: 7.5px 10px;
    background-color: #EFEFEF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.dashboard-transaction_chart .transaction_chart-legend-item:nth-child(n+1):nth-child(-n+4) {
    color: white;
}

.dashboard-transaction_chart .transaction_chart-legend-item:nth-child(1) {
    /* Orders */
    background-color: rgb(54, 179, 126);
}

.dashboard-transaction_chart .transaction_chart-legend-item:nth-child(2) {
    /* Invoices */
    background-color: rgb(51, 102, 255);
}

.dashboard-transaction_chart .transaction_chart-legend-item:nth-child(3) {
    /* Subscription Invoices */
    background-color: rgb(240, 120, 78);
}

.dashboard-transaction_chart .transaction_chart-legend-item:nth-child(4) {
    /* Quotes */
    background-color: rgb(33, 170, 225);
}

.dashboard-transaction_chart .transaction_chart-legend-item:nth-child(5) {
    /* Quotes */
    color: rgb(54, 179, 126);
    background-color: rgb(54, 179, 126, 0.1);
}

.dashboard-transaction_chart .transaction_chart-legend-item:nth-child(6) {
    /* Quotes */
    color: rgb(51, 102, 255);
    background-color: rgb(51, 102, 255, 0.1);
}

.dashboard-transaction_chart .transaction_chart-legend-item:nth-child(7) {
    /* Quotes */
    color: rgb(185, 84, 48);
    background-color: rgb(240, 120, 78, 0.1);
}

.dashboard-transaction_chart .transaction_chart-legend-item:nth-child(8) {
    /* Quotes */
    color: rgb(33, 170, 225);
    background-color: rgb(33, 170, 225, 0.1);
}

.dashboard-transaction_chart .transaction_chart-legend-item input {
    vertical-align: text-bottom;
    margin-right: 8px;
}

.dashboard-transaction_chart .transaction_chart-legend-item span {
    color: inherit !important;
    font-size: 14px;
    font-weight: bold;
}